body{
    display: flex;
    flex-direction: column;
    row-gap: 29px;
    margin: 0px;
    align-items: center;
}

.header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: -30px;
    background-color: rgb(5, 70, 5);
}

.links{
    display: flex;
    width:250px;
    justify-content: space-between;
    align-items: center;
    margin-right: 220px;
}

.logo{
    margin-left: 290px;
}

.intro{
    display:flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    column-gap: 136px;
    background-color: rgb(7, 90, 7);
    padding: 20px;
}

.intro .text{
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    width:500px;
}

.main-image{
    height: auto;
    width: 350px;
}

.image{
    height: 160px;
    width: 160px;
    border-radius: 50px;
    border: 5px;
    border-color: rgb(139, 240, 139);
    border-style: solid;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(230, 218, 218);
    width: 100%;
    padding: 40px;
}

.quote .text{
    text-align: center;
    width: 300px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 160px;
}

.card p{
    text-align: center;
}

.cards{
    display: flex;
    justify-content: center;
    column-gap: 35px;
}

.sign-up-section{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 115px;
    background-color: rgb(28, 127, 167);
    height: 157px;
    width: 800px;
    border-radius: 10px;
    margin: 35px;
}

.sign-up {
    height: 30px;
    width: 70px;
    margin-bottom: -20px;
}

.footer{
    height: 60px;
    background-color: green;
    width: 100%;
}


